.admin_header {
	margin-bottom: 20px;
	overflow: hidden;
	width: 100%;
	& h1 {
		font-size: 20px;
		margin: 0;
		font-weight: 400;
	}
	& h2 {
		font-size: 16px;
		margin: 0;
		font-weight: 400;
	}
}
.admin_settings_link {
	color: #426AC5;
	cursor: pointer;
}
.admin_menu {
	margin-bottom: 20px;
	& li {
		display: inline-block;
		padding: 3px 7px;
		border: solid 1px #000;
		cursor: pointer;
		margin-right: 5px;
				-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		-o-user-select: none;
		user-select: none;  
		background: #fff;
		&:hover{
			background: #426AC5;
			color: #FFF;
		}
	}
}
.am_active {
	background: #426AC5 !important;
	color: #FFF;
}
.fields_block {
	margin-bottom: 20px;
}
.content_wr {
	margin-top: 10px;
}
.content_table {
	& > div:nth-child(2n) {
		background: #F7F7F7;
	}
}
.content_row {
	width: 100%;
	overflow: hidden;
	height: 28px;
	& + div {
		border-top: solid 1px #000;
	}
	& > div {
		display: inline-block;
		padding: 2px 3px;
		float: left;
		height: 100%;
	}
	& > div + div {
		border-left: solid 1px #000;
	}
}
.content_table_groups {
	& .content_cell_1 {
		width: 860px;
	}
}
.content_cell_input {
	width: 100%;
	border: none;
	background: none;
}
.content_cell_btn {
	width: 25px;
	height: 25px;
	padding: 0 0 5px;
	border: none;
	background: none;
	&:hover{
		color: #426AC5;
	}
}
.cell_checkbox {
	cursor: pointer;
}
.content_cell_input {
	padding-left: 3px;
}
.editing_input{
	box-shadow: inset 0 0 3px #426AC5;
}
.empty_input {
	box-shadow: inset 0 0 3px #F21111;
}
.f_input.empty_input {
  	box-shadow: none;
  	border: 2px solid #F9A6A6;
}
.fields_block {
	display: none;
}
.fields_active {
	display: block;
}
.fields_controls {
	display: none;
	text-align: left;
}
.status_wr {
	display: inline-block;
}
.add_status_wr {
	margin-left: 10px;
}
.del_status_wr {
	margin-left: 10px;
}
.success {
	color: #55BD00;
}
.error {
	color: #E60000;
}
.f_btn {
	background: none;
	border: none;
	padding: 0;
	&:hover{
		color: #426AC5;
	}
}
.f_input {
	padding-left: 3px;
}
.content_cell_check {
	width: 19px;
}
.content_cell_btns {
	width: 61px;
	float: right !important;
}
.content_table_buildings {
	& .content_cell_1 {
		width: 430px;
	}
	& .content_cell_2 {
		width: 430px;
	}
}
.f_input_small {
	width: 35px;
}
.cc_0 {
	width: 19px;
}
.content_row_header {
	font-weight: 700;
	& div {
		padding-left: 5px;
	}
}
.content_table_buildings {
	& .cc_h_1 {
		width: 430px;
	}
	& .cc_h_2 {
		width: 430px;
	}
}
.cc_h_last {
	width: 61px;
	float: right !important;
}
.content_table_lessons{
	& .content_cell_1, & .cc_h_1 {
		width: 130px;
	}
	& .content_cell_2, & .cc_h_2 {
		width: 140px;
	}
	& .content_cell_3, & .cc_h_3 {
		width: 100px;
	}
	& .content_cell_4, & .cc_h_4 {
		width: 100px;
	}
	& .content_cell_5, & .cc_h_5 {
		width: 100px;
	}
	& .content_cell_6, & .cc_h_6 {
		width: 100px;
	}
	& .content_cell_7, & .cc_h_7 {
		width: 100px;
	}
}
.gray{
	color: #8B8B8B;
}
.f_input_number_of_auditorium {
	width: 50px;
}